nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(254, 158, 13);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
  
  }
  
<<<<<<< HEAD
  
=======
>>>>>>> assar
  .navbar-links-container.active {
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80%;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.781);
    justify-content: center;
    align-items: center;
  }
  
  .navbar-links-container.active a {
    padding: 20px;
  }
  
  .cart {
    margin-right: 20px;
    margin-top: 10px;
  }
  
  .logo {
    width: 130px;
    height: auto;
  }
  
  .navbar-menu-container {
    display: none;
  }
  
  .navbar-links-container a {
    margin-right: 1rem;
    text-decoration: none;
    color: #f5f3f1;
    font-size: 30px;
    font-weight: 600;
  
  }
  
  .primary-button {
    padding: 1.5rem 2.75rem;
    background-color: #e9900c;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
  
  }
  
  .navbar-cart-icon {
    font-size: 50px;
  }
  
  .primary-button:hover {
    background-color: #8d5f1a;
  }
  
  .navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
  }

  @media screen and (max-width: 800px) {
  
    .nav-logo-container {
      max-width: 1px;
    }
  
    .navbar-links-container {
      display: none;
    }
  
    .navbar-menu-container {
      display: flex;
    }
  
    /*////////////////////////////////////////////////////////////////////////////////*/
    .home-bannerImage-container {
      max-width: 450px;
    }
  
    .home-banner-container,
    .about-section-container {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
  
    .about-section-container {
      flex-direction: column;
    }
  
    .home-image-section,
    .about-section-image-container {
      width: 100%;
      max-width: 400px;
    }
  
    .primary-heading {
      text-align: center;
      max-width: 90%;
    }
  
    .primary-text {
      text-align: center;
      max-width: 80%;
    }
  
    .home-text-section,
    .about-section-text-container {
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
    }
  
    .secondary-button {
      font-size: 1rem;
      padding: 0.8rem 2rem;
      cursor: pointer;
    }
  
    .about-buttons-container {
      justify-content: center;
      flex-direction: column;
    }
  
    .primary-subheading {
      text-align: center;
    }
  
    /*////////////////////////////////////////////////////////////////////////////////*/
    .watch-video-button {
      margin-left: 0rem !important;
      margin-top: 1rem;
      font-size: 1rem !important;
    }
  
    .watch-video-button svg {
      margin-right: 0.5rem !important;
    }
  
    .about-section-image-container {
      margin-right: 0rem !important;
    }
  
    .work-section-wrapper {
      padding-top: 50px;
      margin: 0;
    }
  
    .work-section-bottom {
      margin-top: 1rem !important;
    }
  
    /*////////////////////////////////////////////////////////////////////////////////*/
    .footer-wrapper {
      flex-direction: column;
    }
  
    .footer-section-two {
      flex-direction: column;
      margin-top: 2rem;
    }
  
    .footer-section-columns {
      margin: 1rem 0rem;
    }
  }